<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bricksmasher Movie Rentals</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'account' %}">Create Account</a></li>
            <li><a href="{% url 'movie' %}">Browse Movies</a></li>
            <li><a href="{% url 'rent' %}">Rent a Movie</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>